* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --heights: 500px;
  --widths: 500px;
}

.slideshow3-container {
  /* height: var(--heights);
  width: var(--widths); */
  height: 600px;
  width: 500px;
  position: relative;
  /* margin: auto; */
  overflow: hidden;
}

.slideshow3-container img {
  position: relative;
  top: 0;
  height: var(--heights);
  width: var(--widths);
}

.slideshow3-slides .active {
  display: inline-block;
}

.slideshow3-slides .inactive {
  display: none;
}

.slideshow3-slides {
  height: var(--heights);
  width: var(--widths);
  position: relative;
}


.slideshow3-slide, .slideshow3-base-slide {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slideshow3-base-slide {
  z-index: 0;
}

.slideshow3-slide {
  z-index: -1;
}

.slideshow3-slide-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.slideshow3-slide-text {
  position: absolute;
  top: 500px;
  width: 100%;
  height: 100px;
  background: black;
}


.slideshow3-slide-title,
.slideshow3-slide-description {
  position: relative;
  width: 100%;
  color: white;
  font-size: 2rem;
  text-align: center;
  z-index: 10;
}

.slideshow3-slide-description {
  font-size: 1rem;
}


.slideshow3-controls-container {
  position: absolute;
  top: 600px;
  width: 500px;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #e1e1e1;
}

.slideshow3-controls {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.slideshow3-controls span { 
  display: flex;
  justify-content: center;
  width: 100px;
  font-size: 2rem;
}

.slideshow3-status {
   width: 80px;
   height: 100%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.slideshow3-controls .prev,
.slideshow3-controls .next {
  z-index: 1;
}

.slideshow3-container:hover .prev,.slideshow3-container:hover .next {
  color: black
}

.slideshow3-container:hover .prev:hover,
.slideshow3-container:hover .next:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in;
}

.all-dots {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 85%;
  justify-content: center;
  z-index: 200;
  display: none;
}

.dot {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0px 3px;
  background-color: transparent;
  /* background-color: rgba(0, 0, 0, 0.3); */
  border-radius: 50%;
  display: inline-block;
}

.slideshow3-container:hover .dot:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* .active-dot {
  background-color: rgba(255, 255, 255, 0.5);
} */

.slideshow3-container:hover .dot{
  background-color: rgba(0, 0, 0, 0.3);
}
.slideshow3-container:hover .active-dot{
  background-color: rgba(255, 255, 255, 0.5);
}

.play-pause {
  color: black;
}
